CONFIG_MACH_JF_EUR=y
CONFIG_MACH_JFTDD_CHN_CU=y
CONFIG_EXTRA_FIRMWARE="audience-es325-fw-eur.bin"
CONFIG_EXTRA_FIRMWARE_DIR="firmware"
CONFIG_RTC_AUTO_PWRON=y
CONFIG_RTC_AUTO_PWRON_PARAM=y
CONFIG_TARGET_LOCALE_CHN=y
CONFIG_WLAN_REGION_CODE=300

# Samsung ODE
CONFIG_FORCE_DISABLE_FIPS=y
